<!DOCTYPE html>
<html>
<head>
    <title>Arpit ChatBot</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="app">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-header">💬 Chats</div>
        <div id="chat-list" class="chat-list"></div>
        <button onclick="newChat()" class="new-chat">+ New Chat</button>
    </div>

    <!-- MAIN CHAT -->
    <div class="chat-container">
        <div class="chat-header">Arpit ChatBot</div>

        <div id="chat-box" class="chat-box"></div>

        <div class="input-area">
            <input id="user-input" placeholder="Type message..." />
            <button onclick="sendMessage()">➤</button>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>